only-built-dependencies[]=contentlayer2
only-built-dependencies[]=es5-ext
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
only-built-dependencies=contentlayer2,es5-ext,esbuild,protobufjs,sharp,unrs-resolver
